.App {
	padding-left: 3%;
	padding-right: 3%;
	

	@media (min-width: 480px) {
		padding-left: 6%;
		padding-right: 6%;
	}
	@media (min-width: 768px) {
		padding-left: 8%;
		padding-right: 8%;
	}
	@media (min-width: 1024px) {
		padding-left: 10%;
		padding-right: 10%;
	}
	@media (min-width: 1200px) {
		padding-left: 12%;
		padding-right: 12%;
	}
}

.barBar {
	background-color: hwb(180 94% 4%);
}

.App-link {
  color: #61dafb;
  flex: none;
}

.main-background {
  background-color: #008080;
	padding-bottom: 3%;
	justify-content: center;
}

.head1 {
	color: #444645;
	font-size: 100%;
	margin-top: 0;

	@media (min-width: 480px) {
		font-size: 120%;
	}
	@media (min-width: 768px) {
		font-size: 200%;
	}
	@media (min-width: 1024px) {
		font-size: 260%;
	}
}

.head2 {
	color: #444645;
	font-size: 60%;
	margin-top: 0;

	@media (min-width: 480px) {
		font-size: 70%;
	}
	@media (min-width: 768px) {
		font-size: 120%;
	}
	@media (min-width: 1024px) {
		font-size: 140%;
	}
}

.color, .color h3{
	color: #444645;
}

.head3, .head3 h3, div input, .head3 option {
	font-size: 68%;

	@media (min-width: 480px) {
		font-size: 80%;
	}
	@media (min-width: 768px) {
		font-size: 100%;
	}
	@media (min-width: 1024px) {
		font-size: 115%;
	}
}

.head4 {
	font-size: 55%;

	@media (min-width: 1024px) {
		font-size: 95%;
	}
}

.paragraph {
	color: #444645;
	font-size: 50%;
	margin-top: 0;
	margin-bottom: 4%;
	@media (min-width: 480px) {
		font-size: 65%;
	}
	@media (min-width: 768px) {
		font-size: 95%;
	}
	@media (min-width: 1024px) {
		font-size: 105%;
	}
}

.hero-image, .form-image {
	width: 70%;
	height: 85%;
	border-radius: 10%;

	/* @media (min-width: 768px) {
		height: 80%;
	}
	@media (min-width: 1024px) {
		height: 78%;
	} */
}

.about-image {
	height: auto;
	/* height: 68%; */

	/* @media (min-width: 480px) {
		height: 71%;
	}
	@media (min-width: 768px) {
		height: 70%;
	}
	@media (min-width: 1024px) {
		height: 85%;
	}
	@media (min-width: 1200px) {
		height: 100%;
	}
	@media (min-width: 1300px) {
		height: 105%;
	} */
}

.form-page {
  padding-left: 11%;
  padding-right: 11%;
  padding-top: 3%;

  @media (max-width: 1024px) {
    padding-top: 0;
  }
}

.botton-box {
	background-color: #F4CE14;
	border-radius: 1.9rem;
	border-style: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	&:hover {
		background-color: #fddd50;
	}
	&:active {
		background-color: #6e6a52;
	}
}

.botton-box button {
	color: #444645;
	background-color: transparent;
	font-weight: 900;
	border-style: hidden;
	font-size: 61%;
	text-align: center;
	display: inline-flex;
	cursor: pointer;
	/* Add transition for smooth effect */
	transition: color 0.3s, opacity 0.01s;

	@media (min-width: 480px) {
		font-size: 75%;
	}
	@media (min-width: 768px) {
		font-size: 110%;
	}
	@media (min-width: 1024px) {
		font-size: 140%;
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}

	&:active {
		color: white
	}
}
